importFrom(dplyr, "%>%")
importFrom(foreach, "%do%")

export(define_design)
export(source_design)
export(prepare_design_documentation)
export(prepare_design_flow_chart)
export(test_design)
export(simulate_design_power)
export(exhaust_design)
export(calculate_weighted_estimate)
export(plot_rdf_estimate_density)
export(plot_rdf_estimates_by_choice)
export(plot_rdf_ridges_by_dchoice)
export(plot_rdf_spec_curve)
export(check_choice)
